//-------------zeroing------------------
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
//---------------variables----------------
$minSize: 320;
$maxWidth: 1920;
$maxWidthContainer: 1175;
$mainColor: #020A18;
$whiteColor: #fff;
$greyColor: #B7BABE;
$blueColor: #3A68B8;
$blueColorHover: #0053b3;
//---------------general----------------
@import 'fonts';
@import 'mixins';
* {
	font-size: 16px;
	color: $whiteColor;
	font-weight: 600;
	font-family: 'OpenSans', sans-serif;
	line-height: 160%;
}
.wrapper {
	background: $mainColor;
}
.container {
	max-width: 1175px;
	margin: 0 auto;
	padding: 0 15px;
}
.title {
	&_h1 {
		@include adaptiveValue("font-size", 55, 45, 1);
		font-weight: 800;
		line-height: 130%;
	}
	&_h2 {
		@include adaptiveValue("font-size", 40, 30, 1);
		font-weight: 700;
		line-height: 130%;
	}
	&_h3 {
		font-size: 25px;
		font-weight: 700;
		line-height: 125%;
	}
	&_h4 {
		font-size: 22.55px;
		font-weight: 600;
		color: $blueColor;
	}
	&_h5 {
		font-size: 18px;
		font-weight: 600;
		line-height: 160%;
		color: $blueColor;
	}
	&_h6 {
		font-size: 16px;
	}
}
.text {
	&_grey {
		color: $greyColor;
	}
}
.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	&_footer {
		img {
			margin: 8px 8px 8px 0;
		}
	}
	img {
		max-width: 50px;
		margin: 15px 15px 15px 0;
	}
}
.button {
	display: inline-flex;
	white-space: nowrap;
	a {
		display: flex;
		gap: 10px;
		font-weight: 600;
		background: $blueColor;
		padding: 15px 30px;
		border-radius: 5px;
		transition: 0.5s;
		&:hover {
			background: $blueColorHover;
			box-shadow: 0 0 10px 3px rgba(0,83,179,0.5);
		}
	}
	&_16 {
		a {
			font-size: 16px;
		}
	}
	&_20 {
		a {
			font-size: 20px;
		}
	}
}
.accordion {
	display: flex;
	justify-content: space-between;
	.arrow {
		transition: 0.5s;
	}
	&_panel {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
	}
	&_open .arrow {
		transform: scaleY(-1)
	}
}
//---------------header-----------------
.header {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.01));
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 25px;
		min-height: 100px;
	}
	&__left {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 25px;
		width: 100%;
		max-width: 780px;
	}
	&__right {
		display: flex;
		justify-content: end;
		align-items: center;
		gap: 25px;
		padding: 15px 0;
		@media (max-width: 480px) {
			flex-wrap: wrap;
		}
	}
	&_nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 411px;
		flex-wrap: wrap;
		gap: 10px;
		@media (max-width: 767px) {
			display: none;
		}
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
//---------------burger-----------------
.burger {
	display: none;
	@media (max-width: 767px) {
		display: block;
	}
	&_lock {
		@media (max-width: 767px) {
			overflow: hidden;
		}
	}
	&__button {
		width: 30px;
		height: 30px;
		position: relative;
		z-index: 2;
		overflow: hidden;
		span {
			width: 30px;
			height: 3px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: $whiteColor;
			border-radius: 3px;
			transition: all 0.5s;
			&:nth-of-type(2) {
				top: calc(50% - 10px);
			}
			&:nth-of-type(3) {
				top: calc(50% + 10px);
			}
		}
	}
	&_active span:nth-of-type(1) {
		display: none;
	}
	&_active span:nth-of-type(2) {
		top: 50%;
		transform: translate(-50%, 0%) rotate(45deg);  
	}
	&_active span:nth-of-type(3) {
		top: 50%;
		transform: translate(-50%, 0%) rotate(-45deg); 
	}
	&__menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 15px;
		background: $mainColor;
		transform: translateX(-100%);
		transition: transform 0.5s;
		overflow: auto;
		nav {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 30px;
			margin: 30px;
		}
		a {
			font-size: 20px;
		}
	}
	&_active {
		transform: translateX(0);
	}
}
//---------------main-------------------
.content {
	overflow: hidden;
	min-width: 0;
}
.section1 {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.02));
	&_block {
		display: flex;
		@include adaptiveValue("gap", 114, 0, 1);
		min-height: 735px;
		padding: 50px 0;
		@media (max-width: 767px) {
			min-height: auto;
			padding: 40px 0;
		}
	}
	&_info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;
		max-width: 600px;
		h5 {
			text-transform: uppercase;
		}
		p {
			font-size: 18px;
			padding: 40px 0;
			max-width: 500px;
			@media (max-width: 767px) {
				padding: 20px 0;
			}
		}
	}
	&_buttons {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}
	&_img {
		position: relative;
		@media (max-width: 767px) {
			display: none;
		}
		img {
			position: absolute;
		}
	}
	&_logo {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 30px;
		padding: 40px 0 100px 0;
		@media (max-width: 767px) {
				padding: 20px 0 50px 0;
			}
	}
}
.section2 {
	display: flex;
	justify-content: end;
	@include adaptiveValue("gap", 68, 0, 1);
	min-height: 980px;
	padding: 130px 15px;
	@media (max-width: 767px) {
		justify-content: center;
		min-height: auto;
		padding: 50px 15px;
	}
	&_img {
		position: relative;
		@media (max-width: 767px) {
			display: none;
		}
		img {
			position: absolute;
			right: 0;
		}
	}
	&_info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;
		max-width: 500px;
		p {
			padding: 40px 0;
			max-width: 480px;
			@media (max-width: 767px) {
				padding: 20px 0;
			}
		}
	}
}
.section3 {
	&__slider {
		display: flex;
	}
	&_plate {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
		width: auto;
		max-width: 360px;
		min-width: 360px;
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.04));
		text-align: center;
		padding: 30px;
		border-radius: 10px;
		cursor: pointer;
		@media (max-width: 767px) {
			min-width: 300px;
		}
		img {
			max-width: 300px;
		}
		h3 {
			max-width: 300px;
		}
		p {
			max-width: 300px;
		}
	}
	& .swiper-pagination {
		text-align: center;
		transition: .3s;
		padding: 50px 0;
		@media (max-width: 767px) {
			padding: 30px 0;
		}
		&-bullet {
			display: inline-block;
			width: 15px;
			height: 15px;
			border-radius: 100%;
			background: #172030;
			margin: 5px;
			cursor: pointer;
			&-active {
				background: #2C3647;
			}
		}
	}
}
.section4 {
	&_block {
		display: flex;
		min-height: 840px;
		padding: 120px 0 170px 0;
		@media (max-width: 767px) {
			min-height: auto;
			padding: 10px 0 45px 0;
		}
	}
	&_info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 550px;
		h2 {
			padding: 20px 0;
		}
		p {
			padding: 10px 0;
			max-width: 470px;
		}
	}
	&_img {
		position: relative;
		@media (max-width: 767px) {
			display: none;
		}
		img {
			position: absolute;
			left: -50px;
		}
	}
}
//---------------footer-----------------
.footer {
	background: #060E1C;
	padding: 90px 0 100px 0;
	@media (max-width: 767px) {
		padding: 35px 0 40px 0;
	}
	p {
		font-size: 14px;
		font-family: CircularStd;
		font-weight: 400;
		line-height: 130%;
	}
	a {
		font-size: 14px;
		font-weight: 600;
		font-family: CircularStd;
		&:hover {
			text-decoration: underline;
		}
	}
	&__container {
		display: flex;
		justify-content: space-between;
		gap: 30px;
		flex-wrap: wrap;
		@media (max-width: 767px) {
			justify-content: space-around;
			gap: 20px;
		}
	}
	&__contacts {
		max-width: 260px;
		ul {
			padding: 25px 0;
			@media (max-width: 767px) {
				padding: 15px 0;
			}
			li {
				display: flex;
				align-items: center;
				gap: 9px;
				padding: 8px 0;
			}
		}
	}
	&_logo {
		h6 {
			color: $blueColor;
			padding: 8px 0;
		}
	}
	&__items {
		display: flex;
		justify-content: space-between;
		gap: 30px;
		flex-wrap: wrap;
	}
	&__list {
		@media (max-width: 767px) {
			max-width: 300px;
			width: 100%;
		}
		h6 {
			font-family: CircularStd;
			font-weight: 600;
			text-transform: uppercase;
			padding: 15px 0;
		}
		p {
			padding: 10px 0;
		}
		&>a {
			display: block;
			padding: 8px 0;
		}
		ul {
			li {
				padding: 8px 0;
				a {
					color: $greyColor;
					font-family: CircularStd;
					font-weight: 400;
				}
			}
		}
	}
	&__about {
		max-width: 260px;
	}
	&_socials {
		display: flex;
		gap: 25px;
		padding: 20px 0;
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			transition: 0.3s;
			&:hover {
				background: rgba(255,255,255,0.33);
				box-shadow: 0 0 10px 3px rgba(255,255,255,0.5);
			}
		}
	}
	&__language {
		display: inline-block;
		cursor: pointer;
		text-align: center;
		@media (max-width: 767px) {
			display: block;
		}
		h6 {
			font-size: 14px;
			font-family: CircularStd;
			font-weight: 400;
			display: flex;
			gap: 8px;
			padding: 15px 0;
		}
		ul {
			padding: 8px 0;
			li {
				padding: 8px 0;
				a {
					font-weight: 400;
				}
			}
		}
	}
	&_desktop {
		@media (max-width: 767px) {
			display: none;
		}
	}
	&_mobile {
		display: none;
		@media (max-width: 767px) {
			display: block;
		}
	}
}